.footer{
    display: flex;
    width: 1330px;
    height: 80px;
    gap: 0px;
    opacity: 0px;
    background-color: rgb(48, 49, 51);
    margin-top: 60px;
    align-items: center;
    border-radius: 8px; 
    transition: all 0.3s ease-in-out;  
}
.footer:hover{
    background: rgba(29, 28, 28, 0.951);
}
.salom{
    width: 100%;
}
.footer .one-div{
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 18.96px;
    text-align: left;
    color: rgba(255, 255, 255, 0.916);
}
.one-div span{
    color: rgb(240, 158, 16);
}
.zakariyo h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: white;
}
.zakariyo span{
    color: rgba(255, 221, 2, 0.95);
    margin-right: 10px;
    font-size: 16px;
}
